/* CreateAccount.css */
.container {
    margin-top: 2rem;
  }
  
  form input,
  form select {
    height: 2.5rem;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  form input[type="submit"] {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue for hover effect */
  }
  
  h3 {
    margin-bottom: 1rem;
  }
  
  .google-button {
    margin-left: 28%;
    display: block;
  }
@media (min-width:320px) and (max-width:575px)
{
    .google-button {
        margin-left: 10%;
        display: block;
      }
}
  
  .facebook-button {
    margin-top: 1rem;
  }
  